<% if(!accessProvided){ %>
  <h6> You don't have the access of document</h6>
  <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="js-get-access" data-prescriptionId=<%=prescription.id%>>
    click here to get approval.
  </button>
<% } else if(prescription){ %>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Sr.no</th>
        <th class="mdl-data-table__cell--non-numeric">Id</th>
        <th>Description</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td><%=prescription.id%></td>
        <td class="mdl-data-table__cell--non-numeric"><%=prescription.description%></td>
        <td class="mdl-data-table__cell--non-numeric"><%=moment(prescription.createdAt).format('Do MMMM, YYYY')%></td>
      </tr>
    </tbody>
  </table>
 <% } else { %>
   <h6> No medical Record Found with this ID</h6>
<% } %>
